@model IEnumerable<AirAidans.DATA.EF.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1 class="heading-text">Suppliers</h1>

<div class="container">

    <p align="center">
        <a asp-action="Create" class="btn custom-btn text-center">Create New Supplier</a>
    </p>

    <table class="table t-text">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SupplierName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SupplierId" style="color: #802bb1;"><i class="fa-regular fa-pen-to-square"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.SupplierId" style="color: #802bb1;"><i class="fa-solid fa-list"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.SupplierId" style="color: #802bb1;"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




