@model AirAidans.DATA.EF.Models.Shoe

@{
    ViewData["Title"] = "Delete";
}

<h1 class="heading-text">Delete</h1>

<div class="container">
 
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form asp-action="Delete">
                <input type="hidden" asp-for="ShoeId" />

                <table class="table table-bordered t-text">
                    <tbody>
                        <tr>
                            <th class="text-end" style="width: 30%;">@Html.DisplayNameFor(model => model.Brand):</th>
                            <td>
                                @Html.DisplayFor(model => model.Brand)
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">@Html.DisplayNameFor(model => model.Model):</th>
                            <td>
                                @Html.DisplayFor(model => model.Model)
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">@Html.DisplayNameFor(model => model.Size):</th>
                            <td>
                                @Html.DisplayFor(model => model.Size)
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">@Html.DisplayNameFor(model => model.Color):</th>
                            <td>
                                @Html.DisplayFor(model => model.Color)
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">@Html.DisplayNameFor(model => model.Sku):</th>
                            <td>
                                @Html.DisplayFor(model => model.Sku)
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">@Html.DisplayNameFor(model => model.ShoeDescription):</th>
                            <td>
                                @Html.DisplayFor(model => model.ShoeDescription)
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">@Html.DisplayNameFor(model => model.ShoeImage):</th>
                            <td>
                                @Html.DisplayFor(model => model.ShoeImage)
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">@Html.DisplayNameFor(model => model.Price):</th>
                            <td>
                                @Html.DisplayFor(model => model.Price)
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">@Html.DisplayNameFor(model => model.Category):</th>
                            <td>
                                @Html.DisplayFor(model => model.Category.CategoryId)
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">@Html.DisplayNameFor(model => model.Supplier):</th>
                            <td>
                                @Html.DisplayFor(model => model.Supplier.SupplierName)
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="form-group text-center">
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                </div>
            </form>
        </div>
    </div>
</div>
