@model AirAidans.DATA.EF.Models.Shoe

@{
    ViewData["Title"] = "Details";
}

<div class="center-content"> <!-- Centering the content -->
    <h1 class="heading-text">Details</h1>

    <div class="container">
        <dl class="row t-text">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sku)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sku)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShoeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShoeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShoeImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShoeImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>
      </dl>
    </div>
</div>

<div class="form-group text-center">
    <a asp-action="Index" class="btn btn-danger">Back To List</a>
</div>
