@model IPagedList<AirAidans.DATA.EF.Models.Shoe>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "Browse Shoes";
}

@*No CRUD in Card View*@

<!-- product section -->
<div class="container">
    <div class="container">

        <div class="heading_container heading_center">
            <h2 class="heading-text">Shoes</h2>
        </div>

        <div class="row">
            <div class="offset-3 col-sm-6">

                <form asp-action="ShoeCards" method="get">
                    @*
                    method="get" -> appends the key/value pairs from a form onto the query string in our URL
                    ? in the URL indicates the beginning of a query string
                    - everything after the ? is a key/value pair

                    ?searchTerm=WhateverISearchedFor
                    - multiple key/value pairs are separated with an &
                    ?searchTerm=whatevs&category=tool

                    These keys/values are passed to the action as arguments for the action's parameters.
                    public IActionResult TiledProducts(string searchTerm, string category)
                    *@

                    @*Categories Filter Dropdown*@
                    <label for="categoryId" class="control-label d-block text-center">Filter by Category</label>
                    <select name="categoryId" class="form-control text-center mb-3" asp-items="ViewBag.CategoryId">
                        <option value="0">[Choose a Category]</option>
                    </select>

                    @* Inputs for Search *@
                    <input name="searchTerm" class="form-control text-center" placeholder="What kinda kicks?" />

                    <input type="submit" value="Go" class="btn custom-btn text-center w-50 d-block mx-auto mt-3" />

                </form>

                @if (ViewBag.NbrResults != null)
                {
                    <p class="mt-5 p-2 alert-warning text-center">
                        Showing @ViewBag.NbrResults result@(ViewBag.NbrResults > 1 ? "s" : "") for '@ViewBag.SearchTerm'...
                    </p>
                }
            </div>
        </div>
    </div>


    <div class="container row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-6 mb-3 p-5">
                <!-- col-md-6 for two cards per row and mb-3 for vertical spacing -->
                <div class="shoe-box">
                    <div class="shoe-inner-box position-relative">



                        <div class="icons">
                            @*Edit later with font awesome and add link tags*@
                            <a asp-action="Details" asp-route-id="@item.ShoeId" style="color: #802bb1;"><i class="fa-solid fa-list"></i></a>
                        </div>


                        <div class="img">
                            <img src="~/Assets/images/@item.ShoeImage" alt="@item.ShoeDescription">
                        </div>

                        <div class="d-inline-flex m-2 justify-content-between">
                            <div class="cart-btn m-2">
                                <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ShoeId">
                                <span class="btn custom-btn">Add To Cart</span>
                                </a>
                            </div>

                            <div class="shoe-info t-text m-3">
                                <div class="shoe-name">@item.Model</div>
                                <div class="shoe-Price">@item.Price</div>
                            </div>

                            <div class="cart-btn m-3">
                                <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ShoeId" style="color: #802bb1;">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

@* Paged List Pager *@

<div class="row mt-5">
    <div class="w-50 mx-auto text-center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        <div class="w-100">
            @Html.PagedListPager(
            Model,
            page => Url.Action("ShoeCards",
            new {page, searchTerm = ViewBag.SearchTerm, categoryId = ViewBag.Category}
            ))
        </div>
    </div>
</div>

</div>
<!-- end product section -->